:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.main{
    padding: 20;
    background-color: beige;
}
.heading{
    margin: 20 0;
    color: black;
}
.main-head{
    background-color: #e58a1b;
    color: white;
    border-radius: 5px;
    padding: 20;
    display: flex;
}
.header{
    width: 60%;
}
.select-box{
    width: 90%;
    height: 40;
    border: 2px #a7a6a6 solid;
    border-radius: 5;
}
.order-summary{
    padding: 30;
}
.viz-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20;
}
h4{
    padding: 10 0;
}
.chart-container{
    padding: 20;
}
.chart-container p{
    padding: 5;
}
